.project {
  padding-top: 5px;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.11);
}

.image {
  border-radius: 10px;
  width: 100%;
  padding: 2%;
}

.description {
  color: whitesmoke;
  max-width: 90%;
}

.info {
  padding: 3%;
  justify-items: center;
  align-items: center;
  display: grid;
}
