.profile {
  border-radius: 10px;
  width: 100%;
  display: inline-block;
}

.profile_name {
  line-height: 18px;
  padding: 20px;
}

.profile_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.profile_name .title {
  font-size: 13px;
  color: #ffffff;
}

.profile_image {
  margin-top: -10px;
  clip-path: polygon(0 13%, 100% 0, 100% 80%, 0 100%);
}

.profile_image .image {
  width: 100%;
}

.profile_information {
  top: 0;
  left: 0;
  margin: -70px 8px 30px;
}

.profile_information .timeline .timeline_content {
  margin-top: 2px;
  margin-bottom: 20px;
}

.timeline_item_text {
  font-size: 13.5px !important;
  color: #ffffff !important;
  font-weight: 400 !important;
  text-decoration: none;
}

.timeline_item_text > a {
  color: #ffffff !important;
  text-decoration: none;
}

.timeline_item_text > span {
  color: rgb(142, 142, 142);
}
