.Header {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  min-height: 70px;
}
.header_right {
  display: flex !important;
  align-items: center;
}
.social-link-margin {
  margin-right: 10px;
  color: rgb(255, 255, 255);
}
